/*
=====================================================
                    BASE
=====================================================
*/

h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

header {
  background-color: white;
}

body {
  background-color: grey;
}

#memory-board {
  background-color: blue;
  padding-left: 2.5%;
}

.tile {
  float: left;
  position: relative;
  width: 15.666%;
  padding-bottom: 15.666%;
  margin-left: 0.7%;
  margin-top: 0.7%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	background-image: url(../img/card_bg.jpg);
	border: 1px solid #000;
	cursor: pointer;
}

/*
===========================================================
                     Component
===========================================================
*/

.btn {
  height: 100%;
}

.btn-left {
  margin: 18px 5px 5px 5px;
}

.btn-right {
  float: right;
  margin: 18px 0px 0px 10px;
}

.userInput {
  float: left;
  margin: 10px 4px 0px 0px;
}
